<ul id="dashboard">
  <% @emails.each do |email| %>
    <li>
      <span class="approved"><%= email.approved %></span>
      <span class="date"><%= email.date.strftime("%Y/%m/%d") %></span>
      <span class="subject"><%= email.subject %></span>
      <span class="from"><%= email.from %></span>
    </li>
  <% end %>
</ul>