This is an email template

<% @questions.each do |question| %>
  <p><%= question %></p>
<% end %>

Thank you.

If there's something here on the List, at ITP, in New York or just anything that you don't understand, you can ask for an explanation by sending an email to #{ENV['GMAIL_ADDRESS']} with "explain" in the subject line.

<strong>YOUR EMAIL ADDRESS WILL NOT BE DISCLOSED TO OTHER STUDENTS, HOWEVER MIDORI AND CLAY ARE ABLE TO SEE WHO ASKED WHAT QUESTION -- TO PREVENT ABSUE.</strong>

<strong>BE SURE TO REMOVE YOUR SIGNATURE FROM THE EMAIL.</strong>