<!DOCTYPE html>
<html>
  <head>
    <title>explain.shep.info</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/explain.js"></script>
    <link rel="stylesheet" href="http://sklise.s3.amazonaws.com/pictos/pictos.css">
    <link rel="stylesheet" href="/css/explain.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>explain.shep.info</h1>
      </div>
      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        <% if admin? %>
          <a href="/logout">log out</a>
        <% else %>
          <a href="/login">log in</a>
        <% end %>
      </div>
    </div>
  </body>
</html>