<form method="post" action="/login">
  <label for="email">email (case sensitive):
    <input id="email" name="user[email]" type="text">
  </label>

  <label for="password">Password:
    <input id="password" name="user[password]" type="password">
  </label>

  <input type="submit">
</form>